<h2><%= @cocktail.name %></h2>

<ul>
  <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.ingredient.name %>
        <%= link_to cocktail_dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash destroy_dose"></i>
        <% end %>
      </li>
  <% end %>
</ul>

<%= link_to "add a new dose", new_cocktail_dose_path(@cocktail) %>|
<%= link_to "back to all", cocktails_path %>
