<h1 class = "text-center">Add a new dose</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
   <% if @cocktail.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- [...] all the fields -->
  <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false, label: false, prompt: "Ingredient" %>
  <%= f.input :description, label: false, placeholder: "Description" %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
